@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-background-primary {
  background: -o-linear-gradient(
    345deg,
    theme('colors.primary.500') 8.33%,
    theme('colors.black') 97.92%
  );
  background: linear-gradient(
    105deg,
    theme('colors.primary.500') 8.33%,
    theme('colors.black') 97.92%
  );
  background-repeat: no-repeat;
}
