@import 'tailwindcss';

@theme {
  --color-primary: #00334E;
  --color-primary-50:  #00334E;
  --color-primary-100: #009EF1;
  --color-primary-200: #0083C8;
  --color-primary-300: #0068A0;
  --color-primary-400: #004E77;
  --color-primary-500: #00334E;
  --color-primary-600: #000E16;
  --color-primary-700: #000000;
  --color-primary-800: #000000;
  --color-primary-900: #000000;
  --color-primary-950: #000000;

  --color-secondary: #145374;
  --color-secondary-50: #5DB5E3;
  --color-secondary-100: #4BADE0;
  --color-secondary-200: #289DDA;
  --color-secondary-300: #2085BA;
  --color-secondary-400: #1A6C97;
  --color-secondary-500: #145374;
  --color-secondary-600: #0C3144;
  --color-secondary-700: #030F14;
  --color-secondary-800: #000000;
  --color-secondary-900: #000000;
  --color-secondary-950: #000000;

  --color-accent: #5588A3;
  --color-accent-50: #CBDCE4;
  --color-accent-100: #BED2DD;
  --color-accent-200: #A3C0CF;
  --color-accent-300: #88AEC1;
  --color-accent-400: #6E9BB3;
  --color-accent-500: #5588A3;
  --color-accent-600: #42697E;
  --color-accent-700: #2F4A59;
  --color-accent-800: #1B2C34;
  --color-accent-900: #080D10;
  --color-accent-950: #000000;

  --color-white: #E8E8E8;
  --color-white-50: #FFFFFF;
  --color-white-100: #FFFFFF;
  --color-white-200: #FFFFFF;
  --color-white-300: #FFFFFF;
  --color-white-400: #FCFCFC;
  --color-white-500: #E8E8E8;
  --color-white-600: #CCCCCC;
  --color-white-700: #B0B0B0;
  --color-white-800: #949494;
  --color-white-900: #787878;
  --color-white-950: #6A6A6A;

  --shadow-custom-xs: 5px 5px 0px 0px rgba(0, 0, 0, 0.0);
  --shadow-custom-sm: 10px 10px 0px 0px rgba(0, 0, 0, 0.0);
  --shadow-custom-md: 15px 15px 0px 0px rgba(0, 0, 0, 0.0);
  --shadow-custom-up-right-md: 15px 15px 0px rgba(0, 0, 0, 0.0);

  --text-shadow-secondary-sm: 8px 8px 0px theme(--color-secondary-500);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.custom-background-primary {
  background: -o-linear-gradient(
    345deg,
    var(--color-primary-500) 8.33%,
    var(--color-black) 97.92%
  );
  background: linear-gradient(
    105deg,
    var(--color-primary-500) 8.33%,
    var(--color-black) 97.92%
  );
  background-repeat: no-repeat;
}
